<app-navbar></app-navbar>

<app-header></app-header>

<div class="search-poke">
  <label class="search-poke__label">Puedes buscar un pokemon: </label>
  <mat-form-field class="search-poke__input">
    <input matInput trim tolowercase placeholder="Teclea un pokemon... " [(ngModel)]="searchPoke"
      (ngModelChange)="searchPoke = $event.toLowerCase().trim()">
  </mat-form-field>
  <button (click)="getPokemon(searchPoke)" mat-mini-fab color="primary">
    <mat-icon>search</mat-icon>
  </button>
</div>

<app-pokemon [dataPoke]="dataPoke"></app-pokemon>

<router-outlet></router-outlet>
